@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --texto-verde: #93BCA5;
    --texto-amarelo: #F0D48D;
    --texto-laranja: #FF6E03;
    --texto-azul: #667887;
    --texto-lilas: #DA9EF7;
    --texto-rosa: #FF17BA;
    font-family: "Archivo", sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82%;
    width: 95%;
    background-image: url('../assets/imgs/fundo-cadastro-parte-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 80px;
}

.container {
    background-color: black;
    border-radius: 80px;
    color: #EFD38D;
    padding: 19px 43px;
    width: 60%;
    height: 95%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#divParte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--texto-enfatico-font-size);
    font-weight: var(--texto-enfatico-font-weight);
    color: #DA9EF7;
}

#divParte2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--texto-enfatico-font-size);
    font-weight: var(--texto-enfatico-font-weight);
    color: var(--texto-lilas);

    & .inputs {
        margin: 30px 0;
    }
}

.grupoInput {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;

    & span {
        text-align: left;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: var(--texto-fonte-pequena-font-size);
        margin-left: 20px;
        letter-spacing: 0px;
    }
}

.linha {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input {
    font-family: "Lato", sans-serif;
    background-color: #1c1c1c;
    height: 66px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: var(--texto-fonte-pequena-font-size);
    padding: 1% 4%;
}

input::placeholder {
    color: #2f2f2f;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.cnpj {
    width: 58%;
}

.cep {
    width: 30%;
}

.numero {
    width: 27%;
}

.complemento {
    width: 70%;
}

.email {
    width: 57%;
}

.celular {
    width: 40%;
}

.conjuntoBotao {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 25px;
    margin: 2%;

    & a {
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: var(--texto-fonte-pequena-font-size);
        font-weight: 400;
        margin: 2%;
    }
}

.botao.formulario {
    width: 170px;
    height: 50px;
    align-self: center;
    margin: -7% 0% 1%;
    border-radius: 50px;
    background-color: var(--texto-lilas);
    color: black;

    font-size: 20px;
    font-weight: 795;
}

button {
    cursor: pointer;
}

span {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2%;

    & button {
        color: #EFD38D;
        font-size: 15px;
        background: none;
        border: 1px solid #EFD38D;
        border-radius: 20px;
    }
}

.fundoErro {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

.containerErro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFD38D;
    color: black;
    border-radius: 80px;
    width: 40%;
    height: 50%;
    text-align: center;

    & h1 {
        font-size: 50px;
    }

    & span {
        font-size: 30px;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .fundo {
        height: 88%;
    }

    .container {
        width: 85%;
    }

    .tituloParte1 {
        width: 60%;
        text-align: center;
    }

    .container {
        padding: 20px 0;
    }

    #divParte1 {
        font-size: 20px;
    }

    #divParte2 {
        font-size: 20px;
    }

    .inputs {
        width: 80%;
    }

    .grupoInput {
        margin-top: 10px;
        font-size: 14px;
        width: 100%;
    }

    .grupoInput span {
        font-size: 14px;
    }

    .linha {
        flex-direction: column;
        width: 100%;
    }

    .cnpj {
        width: 100%;
    }

    .cep {
        width: 100%;
    }

    .numero {
        width: 100%;
    }

    .complemento {
        width: 100%;
    }

    .email {
        width: 100%;
    }

    .celular {
        width: 100%;
    }

    input {
        height: 40px;
        font-size: 14px;
    }

    .conjuntoBotao {
        width: 60%;

        & a {
            margin-top: 1%;
            font-size: 12px;
        }
    }

    .botao.formulario {
        font-size: 14px;
        height: 44px;
        margin-top: -3%;
    }

    span button {
        font-size: 12px;
    }

    .containerErro {
        width: 80%;
        height: 40%;

        & h1 {
            font-size: 25px;
        }

        & span {
            font-size: 14px;
            width: 80%;
        }
    }
}