@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.video-container {
  position: relative;
  width: 93%;
  height: 539px;
  border-radius: 50px;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-principal h1 {
  position: absolute;
  z-index: 2;
  bottom: 13%;
  left: 3%;
  color: var(--texto-lilas);
  line-height: 90%;

  font-size: 60px;
  letter-spacing: -5px;
  font-weight: 900;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contato-container {
  width: 95%;
  justify-content: center;
  margin-left: 2%;
  margin-top: 2%;
}

.box {
  width: 100%;
  padding: 4%;
  border-radius: 80px;
  margin-bottom: 5%;
  width: 98%;
}

.amarelo {
  background-color: #F0D48D;
  margin-top: 3%;
}

.box h2 {
  text-align: start;
  margin-bottom: 2%;
  color: var(--texto-lilas);
  font-size: var(--tituloP-font-size);
  line-height: var(--tituloP-line-height);
  letter-spacing: var(--tituloP-letter-spacing);
  font-weight: var(--tituloP-font-weight);
}

form {
  display: flex;
  flex-direction: column;
  gap: 3%;
}

::placeholder {
  color: #667887;
}

input,
textarea {
  width: 100%;
  padding: 1.5%;
  border-radius: 15px;
  border: none;
  background-color: #ffffff;
  font-size: 100%;
  margin: 1% 0 0 0;
}

textarea {
  resize: none;
  font-size: 130%;
}

button {
  width: 15%;
  padding: 1%;
  margin: 2% auto 0 auto;
  border-radius: 50px;
  border: none;
  background-color: var(--texto-lilas);
  color: black;
  cursor: pointer;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 795;
}

button:hover {
  box-shadow: 0 0 15px #667887;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  margin: -2% 0 0 10%;
  width: 80%;
}

h2.infCont {
  margin: 0 10% 3% 10%;
  font-size: var(--texto-enfatico-font-size);
  letter-spacing: var(--texto-enfatico-letter-spacing);
  font-weight: var(--texto-enfatico-font-weight);
  text-align: left;
}

.info p {
  margin: 5% 0% 10% 0%;
  font-size: var(--texto-fonte-pequena-font-size);
  color: black;
  font-weight: var(--texto-fonte-pequena-font-weight);
  line-height: var(--texto-fonte-pequena-line-height);
}

.icons-footer {
  display: flex;
}

.mapa iframe {
  width: 100%;
}


@media (max-width: 600px) {

  .video-container {
    width: 95%;
    height: 300px;
    border-radius: 25px;
  }

  .video-container video {
    width: 97%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .texto-principal h1 {
    font-size: 32px;
    letter-spacing: -2px;
    bottom: 10%;
  }

  .titulo {
    font-family: 'archivo', sans-serif;
    font-size: 120%;
    margin-top: -33%;
    margin-left: -47%;
  }

  .box {
    border-radius: 20px;

  }

  .box h2 {
    text-align: start;
    margin-bottom: 2%;
    font-size: 200%;
    letter-spacing: -2px;
  }

  ::placeholder {
    color: #667887;
  }

  input,
  textarea {

    padding: 1.5%;
    border-radius: 10px;
  }

  textarea {
    resize: none;
    font-size: 130%;
  }

  button {
    width: 20%;
    padding: 1%;
    margin: 2% auto 0 auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 800;
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    flex-wrap: wrap;
    margin: -2% 0 0 10%;
    width: 80%;
  }

  h2.infCont {
    margin: 0 10% 3% 10%;
    font-size: 200%;
  }

  .info p {
    margin: 5% 0% 10% 0%;
    font-size: 100%;
  }

  .mapa iframe {
    width: 100%;
  }


}