body {
    background-color: #2A2A2A;
    font-family: "Archivo", sans-serif;
}

.container1,
.graficoDistribuicao,
.KPIsCrescimento h2 {
    color: #F0D48D;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    line-height: 18px;
}

.containerTitulo h1 {
    font-size: 25px;
    color: var(--texto-amarelo);
}

.containerTitulo p {
    font-size: 11px;
    color: #959596;
    line-height: 12px;
}

.seletor select {
    border-radius: 6.43px;
    background-color: #E4AFFF;
    font-size: 15px;
    color: #7D7D7D;
    padding: 4%;
}

.seletor label {
    color: #F0D48D;
    font-size: 15px;
    font-weight: 300;
}

.box3 p {
    font-size: 15px;
    color: #959596;
}

.legenda p {
    font-size: 12px;
}

/* Botão logout -------------------------------------------- */
.logout {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100px !important;
    padding: 5px !important;
    gap: 6px;
    color: #000 !important;
}

.logout strong {
    color: #000 !important;
    font-size: 14px;
}

.logout img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    display: block;
    margin: 0 !important;
}

/* Linhas input radio -------------------------------------- */
.linha,
.linhaDiferente {
    padding: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 17px;
    background: #3E3E3E;
    border-top: 2px solid #313030;
    height: 18%;
    margin: 0;
    gap: 10px;
}

.linhaDiferente {
    border-radius: 0 0 16px 16px;
}

.linha:hover,
.linhaDiferente:hover {
    background-color: #2A2A2A;
}

.linha span,
.linhaDiferente span {
    color: #d59cff;
    font-size: 14px;
}

.linha input[type="radio"],
.linhaDiferente input[type="radio"] {
    display: none;
}

.radio-custom {
    width: 13px;
    height: 13px;
    border: 2px solid #aaa;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.linha input[type="radio"]:checked+.radio-custom::after,
.linhaDiferente input[type="radio"]:checked+.radio-custom::after {
    content: "";
    width: 9px;
    height: 8px;
    background-color: #d59cff;
    border-radius: 50%;
}


.linha:has(input:checked),
.linhaDiferente:has(input:checked) {
    background-color: #3E3045;
}

/* Container artista selecionado ------------------------------------------- */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.3px solid #959596;
    padding: 0% 4% 0% 4%;
    gap: 15%;
}

.infoDiferente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 3% 0% 3%;
}

.informacoesKPI p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.informacoesKPI h1, .setaCrescimento p {
    font-weight: 900;
    text-align: center;
    color: #DA9EF7;
    font-size: 17px;
}

.setaCrescimento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crescimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}
/* Gráficos -------------------------------- */
.graficoBarras {
    width: 100%;
    height: 180px;
}

.graficoMusicas {
    height: 90%;
}

.graficosArtistaSelecionado {
    display: flex;
    flex-direction: row;
    height: 260px;
    gap: 10px;
}

.graficoContainer {
    flex: 1;
    min-height: 0;
    position: relative;
    overflow: hidden;
    height: 41.5vh;
}

.graficoHistograma {
    width: 100%;
    height: 260px;
    position: relative;
}

.graficoRadarContainer {
    width: 100%;
    height: 100%;
    position: relative;
}