:root {
    --texto-verde: #93BCA5;
    --texto-amarelo: #F0D48D;
    --texto-laranja: #FF6E03;
    --texto-azul: #667887;
    --texto-lilas: #DA9EF7;
    --texto-rosa: #FF17BA;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* CSS HEADER */

header {
    width: 100%;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        width: 190px;
        aspect-ratio: 19/10;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a {
    font-size: 28px;
    color: var(--texto-lilas);
}

.botao {
    font-size: 25px;
    margin: 24px 14px;
    border-radius: 53px;
}

.botao .login {
    border-color: var(--texto-lilas);
}

.botao .cadastro {
    color: black;
    background-color: var(--texto-lilas);
}

/* FIM CSS HEADER */