@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Padronização de cores*/
:root {
    --texto-verde: #93BCA5;
    --texto-amarelo: #F0D48D;
    --texto-laranja: #FF6E03;
    --texto-azul: #667887;
    --texto-lilas: #DA9EF7;
    --texto-rosa: #FF17BA;
    font-family: "Archivo", sans-serif;
}

/*Padronização de texto 1920px*/
:root {
    /*Título principal*/
    --tituloP-line-height: 90%;
    --tituloP-font-size: 60px;
    --tituloP-letter-spacing: -5px;
    --tituloP-font-weight: 900;

    /*Texto enfático*/
    --texto-enfatico-font-size: 40px;
    --texto-enfatico-letter-spacing: -3px;
    --texto-enfatico-font-weight: 900;

    /*Texto longo*/
    --texto-longo-font-size: 42px;
    --texto-longo-letter-spacing: -3px;

    /*texto fonte pequena*/
    --texto-fonte-pequena-font-size: 19px;
    --texto-fonte-pequena-font-weight: 500;
    --texto-fonte-pequena-line-height: 104%;

    /*texto enfático laranja - EM CAIXA ALTA E LARANJA*/
    --textoE-laranja-font-weight: 900;
}

/*Padronização de texto 700px*/
:root {
    /*Título principal*/
    --tituloP-line-height-600: 90%;
    --tituloP-font-size-600: 60px;
    --tituloP-letter-spacing-600: -5px;
    --tituloP-font-weight-600: 900;

    /*Texto enfático*/
    --texto-enfatico-font-size-600: 40px;
    --texto-enfatico-letter-spacing-600: -3px;
    --texto-enfatico-font-weight-600: 900;

    /*Texto longo*/
    --texto-longo-font-size-600: 42px;
    --texto-longo-letter-spacing-600: -3px;

    /*texto fonte pequena*/
    --texto-fonte-pequena-font-size-600: 19px;
    --texto-fonte-pequena-font-weight-600: 500;
    --texto-fonte-pequena-line-height-600: 104%;

    /*texto enfático laranja - EM CAIXA ALTA E LARANJA*/
    --textoE-laranja-font-weight-600: 900;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* HEADER */
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 900;
    position: relative;
    z-index: 9999;
}

.hamburger {
    display: none;
}

.logoHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHeader a {
    width: 130px;
    aspect-ratio: 19/10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoHeader img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a {
    font-size: 24px;
    color: var(--texto-lilas);
}

.botaoHeader {
    padding: 14px 24px;
    border: 2px solid var(--texto-lilas);
    border-radius: 53px;
}

.botaoHeader a {
    font-size: 20px;
}

.botaoHeader.cadastrar {
    background-color: var(--texto-lilas);
    padding: 10px 20px;
}

.botaoHeader.cadastrar a {
    color: black;
}

header.ativo {
    background-color: var(--texto-lilas);
}

header.ativo a {
    color: black;
}

header.ativo .botaoHeader {
    border: 2px solid black;
}

header.ativo .botaoHeader.cadastrar {
    background-color: black;
}

header.ativo .botaoHeader.cadastrar a {
    color: var(--texto-lilas);
}

.cls-1,
.cls-2 {
    fill: #da9ef7;
}

header.ativo .cls-1,
header.ativo .cls-2 {
    fill: black;
}

.cls-2 {
    font-family: ArialMT, Arial;
    font-size: 50.36px;
    letter-spacing: -.05em;
}

/* MOBILE */

@media screen and (max-width: 600px) {

    .main {
        width: 182%;
    }
    header {
        position: sticky;
        height: 70px;
        padding: 0 10px;
    }

    .logoHeader {
        width: 80px;
    }

    ul {
        width: auto;
        gap: 10px;
    }

    .navLink {
        position: absolute;
        left: 0;
        width: 100%;
        background: var(--texto-lilas);
        display: flex;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    .navLink a {
        padding: 15px 0;
        color: black;
    }

    .navLink:nth-child(1) {
        top: 99%;
    }

    .navLink:nth-child(2) {
        top: 177%;
    }

    .navLink:nth-child(3) {
        top: 254%;
    }

    header.ativo .navLink {
        max-height: 60px;
        opacity: 1;
    }

    .botaoHeader {
        padding: 4px 10px;
    }

    .botaoHeader a {
        font-size: 12px;
    }

    .botaoHeader.cadastrar {
        padding: 6px 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        height: 3em;
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: var(--texto-lilas);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }

    .hamburger input:checked+svg .line {
        stroke: black;
        transition: 300ms;
    }
}

/* CSS FOOTER */

footer {
    font-family: 'archivo', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    position: relative;
    bottom: 0;
    left: 0;
    border: solid 10px var(--texto-amarelo);
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.logo-footer {
    justify-content: center;
    padding-left: 10%;
}

.div-img-footer {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.infos-footer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 20px;
    flex-direction: row;
}

.lista-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    padding-right: 25px;
    align-items: flex-end;
}

.lista-footer li {
    margin-bottom: 18px;
    color: var(--texto-amarelo);
}

.lista-footer li:hover {
    scale: 97%;
    text-decoration: underline;
}

.bottom-footer {
    width: 100%;
    border-top: #F0D48D 10px solid;
    color: #F0D48D;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    & #copyright,
    p {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
}

.icon-footer {
    width: 32px;
}

/*RESPONSIVIDADE FOOTER*/
@media (max-width: 1400px) {
    .main-footer {
        flex-direction: column;
    }

    .infos-footer {
        width: 100%;
        gap: 5px;

        & ul {
            padding: 0;
            margin: 0px;
            width: 33%;
            font-size: 12px;
            justify-content: flex-start;
            align-items: center;
        }

    }

    .div-img-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;

        & .logo-footer {
            padding: 0px 0px 40px 0px;
        }
    }

    .bottom-footer {
        flex-direction: column-reverse;
        justify-content: center;

        & .icons-footer {
            display: flex;
            justify-content: center;
        }
    }
}

/* FIM CSS FOOTER */