:root {
    --texto-verde: #93BCA5;
    --texto-amarelo: #F0D48D;
    --texto-laranja: #FF6E03;
    --texto-azul: #667887;
    --texto-lilas: #DA9EF7;
    --texto-rosa: #FF17BA;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* CSS HEADER */

header {
    width: 100%;
    height: 143px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoHeader {
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        width: 190px;
        aspect-ratio: 19/10;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    & a {
        text-decoration: none;
        font-size: 28px;
        color: var(--texto-lilas);
    }
}

.botaoHeader {
    padding: 14px 24px;
    border: 2px solid var(--texto-lilas);
    border-radius: 53px;

    & a {
        font-size: 25px;
    }
}

.botaoHeader.cadastrar {
    background-color: var(--texto-lilas);
    border-radius: 53px;
    padding: 10px 20px;
    
    & a {
        color: black;
    }
}

/* FIM CSS HEADER */