body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.div1 {
    display: flex;
    position: relative;
}

.img1 {
    width: 30%;
    height: auto;
    border-radius: 10%;
    border: 2px solid #f0d48d9a;
    margin-top: 1%;
    margin-left: 7%;
}

.img2 {
    width: 35%;
    height: auto;
    margin-top: 1%;
    margin-left: auto;
    margin-right: 7%;
    filter: blur(3px);
    transform: scaleX(-1);
}

h1 {
    position: absolute;
    top: 30%;
    right: 10%;
    font-size: 5vw;
    z-index: 2;
}

p {
    position: absolute;
    top: 47%;
    right: 33%;
    font-size: 2.5vw;
    color: #F0D48D;
    z-index: 2;
}

.div2 {
    display: flex;
    position: relative;
}

.div2 img {
    width: 400px;
    height: 600px;
    border-radius: 10%;
    border: 2px solid #f0d48d9a;
    margin-top: 3%;
    margin-left: auto;
    margin-right: 7%;
}

.t1 {
    text-align: right;
    top: 10%;
    right: 40%;
    font-size: 40px;
    color: #F0D48D;
}

.div2 h1 {
    text-align: right;
    top: 49%;
    font-size: 50px;
    right: 40%;
    color: #DA9EF7;
}

.t2 {
    text-align: right;
    top: 72%;
    right: 40%;
    font-size: 40px;
    color: #F0D48D;
}


.div3 {
    display: flex;
    position: relative;
}

.div3 img {
    width: 400px;
    height: 630px;
    border-radius: 10%;
    border: 2px solid #f0d48d9a;
    margin-top: 4%;
    margin-right: auto;
    margin-left: 7%;
}

.div3 h1 {
    text-align: left;
    top: 8%;
    left: 40%;
    font-size: 50px;
    color: #DA9EF7;
}

.p1 {
    position: absolute;
    text-align: left;
    top: 42%;
    left: 40%;
    right: 7%;
    font-size: 40px;
    color: #F0D48D;
}

.p2 {
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);

    width: 70%;
    text-align: center;
    font-size: 50px;
    color: #DA9EF7;
}

.div4 {
    display: flex;
    position: relative;
    margin-top: 10%;
}

.div4 img {
    width: 400px;
    height: 660px;
    border-radius: 10%;
    border: 2px solid #f0d48d9a;
    margin-top: 25%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: 7%;
}

.textos h1 {
    text-align: right;
    top: 38%;
    right: 40%;
    font-size: 30px;
    color: #DA9EF7;

}

.h1 {
    text-align: right;
    top: 42%;
    left: 7%;
    right: 40%;
    font-size: 25px;
    color: #F0D48D;
}

.titulo {
    text-align: right;
    right: 40%;
    left: 7%;
    font-size: 30px;
    color: #DA9EF7;
}

.text {
    text-align: right;
    left: 7%;
    right: 40%;
    font-size: 25px;
    color: #F0D48D;
}

@media (max-width:1400px) {


    body {
        margin: 0;
        padding: 0;
    }

    .img1 {
        width: 35%;
    }

    .img2 {
        width: 40%;
    }

    .div1 h1 {
        font-size: 4vw;
        right: 12%;
        top: 28%;
    }

    .div1 p {
        font-size: 3vw;
        right: 21%;
        top: 45%;
    }


    .div2 img {
        width: 35%;
        height: auto;
    }

    .div2 h1 {
        font-size: 4vw;
        right: 50%;
        top: 48%;
    }

    .t1 {
        font-size: 3vw;
        right: 50%;
        top: 12%;
    }

    .t2 {
        font-size: 3vw;
        right: 50%;
        top: 70%;
    }

    .div3 img {
        width: 35%;
        height: auto;
    }

    .div3 h1 {
        font-size: 3vw;
        left: 50%;
        top: 8%;
    }

    .p1 {
        font-size: 3vw;
        left: 50%;
        top: 33%;
    }

    .p2 {
        font-size: 4vw;
        width: 85%;
        top: 130%;
    }

    .div4 img {
        width: 35%;
        height: auto;
        margin-top: 35%;
    }

    .textos h1 {
        font-size: 2.3vw;
        right: 49%;
        top: 36%;
    }

    .h1 {
        font-size: 2.3vw;
        right: 49%;
        top: 39%;
    }

    .titulo {
        font-size: 2.3vw;
        right: 49%;
    }

    .text {
        font-size: 2.3vw;
        right: 49%;
    }
}